<div class="right-panel m-0 position-fixed h-100">
    <div class="card text-center rounded-0 h-100 w-100 border-0">
        <div class="card-header">
            <span><h5 class="text-warning d-inline">Friends</h5></span>
        </div>
        <div class="card-body p-0">
            <ul class="list-group friends-list">
                
            </ul>
        </div>
    </div>
</div>