<% if(locals.session){ if(locals.session.error){ %> <div> Error: <%= session.error %> </div> <% } %>
<% if(locals.session.message){ %> <div> session.Message: <%= message %> </div> <% } %>
<% if(locals.session.user){ %> <div> Logged in as: <%= session.user.name %> </div> <% }} %>