<form method="get" action="/">
    <input type="submit" value="Main">
</form>

<form method="get" action="/play">
    <input type="submit" value="Play">
</form>

<form method="get" action="/admin">
    <input type="submit" value="Admin">
</form>

<% if(session.error){ %>
    <div> Error: <%= session.error %> </div>
<% delete session.error} %>

<% if(session.message){ %>
    <div> Message: <%= session.message %> </div>
<% delete session.message} %>

<% if(session.user){ %>
    <div> Logged in as: <%= session.user.name %>
        <form method="post" action="/logout">
            <input type="submit" value="Logout">
        </form>
    </div>
<% } %>