<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/a25f0b73b2.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand navbar-dark bg-dark">
<div class="collapse navbar-collapse d-flex align-items-center pos-relative">
    <ul class="navbar-nav mr-5">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" id="dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown-button">
                    <a href="/play" class="btn btn-success w-100 rounded-0">Play</a>
                    <a href="#" class="dropdown-item">Hall of fame</a>
                    <a href="#" class="dropdown-item">Stats</a>
                    <a href="#" class="dropdown-item">Your account</a>
                    <a href="#" class="dropdown-item">Friends</a>
                    <a href="#" class="dropdown-item">Tournament</a>
                    <a href="#" class="dropdown-item">About</a>
                    <a href="#" class="dropdown-item">Contact</a>
                    <a href="/admin" class="btn btn-primary w-100 rounded-0">Admin</a>
            </div>
        </li>
    </ul>
    <% if(session.user){ %>
        <div class="mr-3 text-center"> 
            <h5 class="text-light m-0">Logged in as: <span class="badge badge-info"><%= session.user.name %></span></h5>
        </div>
    <% } %>

    <div class="title pos-absolute">
        <a href="/"><h1 class="text-warning">Terraforming Mars</h1></a>
    </div>

    <% if(session.user){ %>
        <form method="post" action="/logout" class="form-inline ml-auto">
            <input type="submit" class="btn btn-danger" value="Logout">
        </form>
    <% } %>
</div>
</nav>
<% if(session.error){ %>
    <div class="alert alert-danger w-100 mb-0 rounded-0 alert-dismissible fade show" role="alert">
        <strong>Error:</strong> <%= session.error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% delete session.error} %>

<% if(session.message){ %>
    <div class="alert alert-info w-100 mb-0 rounded-0 alert-dismissible fade show" role="alert">
        <strong>Message:</strong> <%= session.message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% delete session.message} %>